$Dark-Gray: hsl(0, 0%, 63%);
$Black: hsl(0, 0%, 0%);
$White: hsl(0, 0%, 100%);
$Very-Dark-Gray: hsl(0, 0%, 27%);

*{
  box-sizing: border-box;
}
body{
  font-family: "League Spartan", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: clip;
}
.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 0.5rem;
  top: 0;
  width: 100%;
  z-index: 100;

  .closeIcon{
    height: 1.3rem;
  }
  .menuIcon{
    cursor: pointer;
  }

  ul{
    display: flex;
    gap: 1.3rem;
    align-items: center;

    li{
      list-style: none;

      a{
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -10px; 
          width: 0%;
          height: 2px; 
          background-color: white;
          transition: width 0.3s ease, left 0.3s ease;
        }

        &:hover::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

nav{
  display: none;
}

nav.active{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  left: 0;
  background: white;
  z-index: 100;

  .closeIcon{
    margin-left: 0.5rem;
    cursor: pointer;
  }
  ul{
    
    &::after {
      content: "";
      position: absolute;
      top: 3.1rem;
      left: 0;
      width: 100%;
      z-index: 100;
      height: 10000%; 
      background-color: rgba(0, 0, 0, 0.7);
      transition: width 0.3s ease, left 0.3s ease;
    }
  }
  ul li a{
    color: $Very-Dark-Gray;
  }
}
.infoImage{
  width: 100%;
}
.heroTextDiv{
  display: flex;
  flex-direction: column-reverse; 
  position: relative;

  p{
    color: $Dark-Gray;
  }
  .infoText{
    padding: 1.5rem 0.4rem;  

  }

  
  .infoText  .shopBtn{
    margin-top: 0.2rem;
    border: none;
    letter-spacing: 2px;
    font-weight: 500;
    background-color: $White;
    cursor: pointer;

    img{
      margin-left: 0.7rem;
      width: 1.8rem;
    }
  }
  .buttonsDiv{
    width: fit-content;
    display: flex;
    position: absolute;
    top: -2.3rem;
    right: 0;

    button{
      background-color: $Black;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover{
        background-color: $Very-Dark-Gray;
      }

      img{
        height: 0.7rem;
      }
    }
  }
}

.about{

  img{
    width: 100%;
  }
  div{
    padding: 1.5rem 0.5rem;

    h3{
      color: $Black;
    }

  }
  p{
    color: $Dark-Gray;
  }
}


@media (min-width : 640px) {
  .navbar{
    justify-content: unset;

    .menuIcon{
      display: none;
    }
    nav{
      display: flex;
      align-items: center;
    } 
    ul li a{
      color: white;
    }
  }
}

@media (min-width : 768px) {
  .navbar{
    padding-left: 50px;
    padding-right: 50px;
  }

  .details{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .infoImage{
      grid-column: span 3;
      height: 100%;
    }

    .heroTextDiv{
      display: flex;
      flex-direction: column; 
      justify-content: space-between;
      position: unset;
      grid-column: span 2;

      .infoText{
        padding: 2rem;  
      }
     
      .infoText  .shopBtn{
        margin-top: 0;
      }
      .buttonsDiv{
        position: unset;

        button{
          
          img{
            height: 0.7rem;
          }
        }
      }
    }
  }

  .about{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    img{
      width: 100%;
      grid-column: span 2;
      height: 100%;
    }
    div{
      color: $Dark-Gray;
      grid-column: span 3;
      padding: 1.5rem 2rem;
    }
  }
}

@media (min-width : 1024px) {
  .navbar{
    padding-left: 85px;
    padding-right: 85px;
  }
  .details{

    .heroTextDiv{ 
      
      .infoText{
        padding: 1rem 4rem ;
        margin-top: 4rem; 

        h1{
          font-size: 2.6rem;
        }
      }

      .buttonsDiv{
        margin-top: auto;

        button{
          padding: 0.8rem 1.8rem;
        }
        
        img{
          height: unset;
        }
      }
    }
  }
}

@media (min-width : 1238px) {     
  .details{
    .heroTextDiv{ 
      .buttonsDiv{
        button{
          img{
            height: unset;
          }
        }  
      }
    }
  }
}
